@import url(https://fonts.googleapis.com/css2?family=Playfair+Display:wght@100;200;300;400;500;600;800;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: black;
}

a {
    text-decoration: none;
}

.container {
    width: 360px;
    height: px;
    color: #fff;
    margin: 0 auto;
}

.main {
    width: 360px;
    height: 737px;
    background-image: url(./img/bg.jpg);
}

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 44px;
    padding-bottom: 5px;
}

.logo__link {
    padding-left: 18px;
}

.menu__link {
    padding-right: 26px;
    padding-top: 11px;
}

.content__title {
    font-family: Playfair Display;
    font-weight: 400;
    font-size: 64px;
    color: #FFF;
    padding-left: 25px;
    padding-right: 29px;
}

.content__title-2 {
    font-family: Playfair Display;
    font-size: 36px;
    font-weight: 400;
    color: #FFF;
    padding-left: 28px;
    padding-right: 61px;
}

.content__descr {
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    padding-left: 28px;
    padding-right: 26px;
    padding-top: 15px;
    padding-bottom: 71px;
}

.content__button {
    border-radius: 10px;
    background: #8E32C6;
    color: #FFF;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    padding: 15px 53px 14px 53px;
    margin-left: 60px;
    margin-right: 61px;
}

.box1 {
    text-align: center;
}
.group1{
    background: #021635;
    width: 360px;
    margin: auto;
}